@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.everything {
    
    align-self: auto;
    justify-content:center;

}

.des_tit{
    display: flex;
    padding-left: 4rem;
    color: rgb(175, 123, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5% auto;   
}
.adv_name {
    display: flex;
    justify-content: start;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:3px;
    font-weight: 200;
    margin: 5% 5%;
    padding:2px 40px;
    border-left:solid 2px rgba(210, 105, 30, 0.322) ;
    border-bottom:solid 2px rgba(210, 105, 30, 0.322) ;
    
}

#cont-port {
    background-size: cover;
    position: relative;
    text-align: center;
    display: inline-block;
}
    
 
#my-g{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    color:white;
    text-shadow:  black 0.1em 0.1em 0.2em;
}


#serv-img {
    width: 100%;
    height: auto;
    
}

.slider_container{
    
    display: flex;
    width: 96%;
    max-width: 760px;
    max-height: 340px;
    margin: 0 auto;
    justify-content:center;
    position: relative;
}

.slide_picture{
    display:none;
    position: absolute;
}

.img_slider {
    width: 100%;
    height: auto;
    border-radius: 25px;
}
    

.prev, .next {
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;
    position: absolute;
    margin-top: 20%;
}
    
.next {
    right: 9%;
    
}
    
    
.prev {
    right: 85%;
}


.prev:hover, .next:hover {
    background-color: rgba(36, 34, 34, 0.8);
}
    


.fade {
animation-name: fade;
animation-duration: 1.5s;
}
  
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


.descr {
    display: flex;
    margin: 5% auto;
    width: 96%;
    max-width:700px;
    max-height:220px;
}

.embed_text {
    padding-top: 5%;
    font-size:medium;
    font-weight: 300;
    border-radius: 25px;
    border-color: rgba(139, 98, 46, 0.76);
    background-color: rgba(240, 227, 212, 0.815);
    text-align:center;
    width: 100%;
    height: 290px;

}
  

.m_book_contain {
    display: flex;
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    width: 95%;
    margin: 0 auto;
}

.mini_book{
    width: 100%;
    height: auto;
}
li {
    list-style: none;
}
    
.item_all {
    border: solid 2px #6e6e6ea6;
}

.tag {
    position: absolute;
    left:1rem;

    border-radius: 2px;
    background-color: #e78c8ca6;
    color: #270000a6;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mini-pic-con {
    width: 96%;
    max-width: 260px;
    max-height: 155px;
    margin: 0 auto;
    background-color: aliceblue;
}


.mini-pic {
    width: 100%;
    height: auto;
}

#anc_list:hover {
    background-color: rgba(236, 89, 20, 0.897);
}


#type_anc-cont {
    max-width: 185px;
    max-height: 185px;
    margin:5px auto;
    overflow:hidden;
    background-size: cover;
    position: relative;
    text-align: center;
    display: inline-block;
}
   
    

#type_icon {
    width: 100%;
    height: auto;
}

#icon_tag {
    font-weight: bolder;
    position: absolute;
    left: 50%;
    bottom:10%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
}
    

#icons {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:5% 15%;
}

#type-but:hover {
    background-color: #e0c426;
    width: 120px;
    height: 120px;
}

#formulario {
    background-color: rgb(238, 238, 238);
    font-size: smaller;
    margin: 0 auto;

}


.ad_crea_list li{
    font-size: smaller;
    margin-top: 1rem;
    align-self: start;
    display:flex;
    justify-content: space-between;
}


section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 25vh;
  text-align: center;
}


.footer-distributed {
   color: #ffffff;
   background: rgb(161, 161, 161);
   position: relative;
   width: 100%;
   text-align: left;
   font:  14px sans-serif;
   vertical-align: middle;
   height: auto;
   padding: 35px 0;
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
	

.mail, .phone, .address {
    margin: 0 auto;
    height: auto;
    
}
    
   
.address img, .mail img, .phone img{
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: auto;
    position: absolute;
}

.address p , .mail p , .phone p {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    height: auto;
    margin:0 auto;
    width: 100%;
}


