{%extends "base.html"%}

{%block head%}
<script src ="{{url_for('static', filename='index.js')}}" defer></script>
<script src ="{{url_for('static', filename='styles.css')}}"></script>
{%endblock%}

{%block content%}
<div>
    <h2 class ="d-flex justify-content-center">{{text}}</h2>
</div>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-row align-items-center" style="margin-top:15%" >
        <div class="col-auto" style="margin-left: 50px">
        <label class="sr-only"for="">Please type below a summary on your business activity: ( max 150 charac.)
            <input class="form-control mt-3" type="text" maxlength="150" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"></label>
        </div>
    </div>
    <br>

    <p style="margin-left:50px">Plase consider to upload some photos to make your space more attractive : </p>

    <div class="d-flex justify-content-start p-5">
        <label>Select Image File: </label>
        <input type="file" name="image">
        <div class="d-flex justify-content-around p-3">
            <div class="col-auto ml-4">
                <button type="submit" class="btn btn-primary ml-2">Submit</button>
            </div>
        </div>
    </div>
</form>




{%endblock%}