{%extends "base.html"%}

{%block head%}
<script src ="index.js"></script>
{%endblock%}

{%block content%}

<h2 class ="d-flex justify-content-center" style="padding:5%">{{text}}</h2>

<div id= "formulario" class="d-flex justify-content-center ">
    <form  action="" method="POST" >
        <div>
            <label for="">Email address
                <input  type="text" name="email" id="" required>
            </label>
        </div>
        <br>
        <div>
            <label for="">Password
                <input type="password" name="pwd" id="" required>
            </label>
        </div>
        <br>
        <button class="btn btn-primary float-right " type="submit">Submit</button>
        <a  class = "d-flex flex-row" href="http://localhost:5000/signup">Are you new? Click here</a>
    </form>
</div>

{%endblock%}
